.container{
    max-width: 1200px !important;
    margin: auto;
    /* border: 1px solid #fff; */
}
header, footer{
    background-color: #262A2B;
}
header, footer .fa-solid{
    color: #856F49;
}
header .fa-brands{
    color: #ccc;
    padding: 16px;
}
header .fa-brands:hover{
    background-color: #D61E25;
    padding: 16px;
}
nav .logo, footer .logo{
    width: 120px;
}
nav li:hover{
    color: #856F49;
}
.activities img{
    height: 268.4px;
    width: 604.667px;
    object-fit: cover;
}
footer .bottom{
    background-color: #856F49;
}